.container {
  cursor: pointer;
}

.chatCard {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
  // border-bottom: 1px solid #f1f0f0;
  border-radius: 10px;
}

.chatCardLeft {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.avatar {
  margin-right: 12px;
  border-radius: 10px;
}

.messagePreview {
  margin-top: 1px;
  color: "#bfbfbf";
}
