.container {
  // margin-top: 30px;
  margin-bottom: 30px;
  overflow-y: scroll;
  max-height: 25%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}
