.sidebar {
  padding: 20px;
  background-color: #fff;
  border-right: 1px solid #eee;
  color: "#434343";
}

.sidebarSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  h5 {
    font-size: 15px;
  }

  input {
    border-color: #eee;
  }
}
