.container {
  border-right: 1px solid #eee;
  padding: 20px;
  background-color: #fdfdfd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.messagesContainer {
  padding-top: 60px;
  max-height: calc(100vh - 185px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.messagesContainer::-webkit-scrollbar {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin: 10px 0;
  display: flex;
}

.receivedMessage {
  background-color: rgb(243, 243, 243);
}

.messageContent {
  padding: 8px;
  border-radius: 10px;
  max-width: 350px;
}

.sentMessage {
  background-color: #1982fc;
  color: #fff;
}

.imageAttachment {
  border-radius: 10px;
}

.receivedFileAttachment {
  display: flex;
  align-items: center;
  cursor: pointer;
  // font-size: 15px;
  color: rgb(24, 144, 255);
}
