.fileCardContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 68px;
  width: 100%;
  overflow: scroll;
  background: #fdfdfd;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  flex-wrap: wrap;
  max-height: 15vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fileCardContainer::-webkit-scrollbar {
  display: none;
}

.fileCard {
  cursor: pointer;
}
