.container {
  // disable re-sizing
  max-width: 360px;
  min-width: 360px;
  // width: 350px;
  height: calc(100vh - 53px);
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.members {
  max-height: "300px";
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.members::-webkit-scrollbar {
  display: none;
}

.chatBgImageContainer {
  width: 100%;

  & > div {
    width: 100%;
  }
}
